# Querying Bids Validity

This notebook quickly demonstrates how to query flywheel for a project's BIDS validity using a custom script, which you can view [here](./scripts/query_bids_validity.py).

In [1]:
import flywheel
import pandas
# add the script to the path
import sys
import os
sys.path.append(os.path.abspath("/home/ttapera/bids-on-flywheel/scripts"))
import query_bids_validity

First, initialise a flywheel client:

In [2]:
fw = flywheel.Client()

Then, query your project, which returns a dataframe:

In [3]:
%%time
df = query_bids_validity.query_bids_validity("Reward2018", fw, verbose=False)

Connecting to flywheel server...
Querying server...
Processing acquisitions...
Extracting BIDS information...
Tidying and returning the results...
CPU times: user 44.8 s, sys: 3.18 s, total: 48 s
Wall time: 6min 49s

/home/ttapera/bids-on-flywheel/scripts/query_bids_validity.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  merged_data['valid'][merged_data['valid'].isnull()] = False

In [4]:
df[df['valid'] == True].head()

,acquisition.label,valid,acquisition.id,project.label,session.label,subject.label,Filename,Folder,IntendedFor,Mod,Modality,Path,Rec,Run,Task,error_message,ignore,template
32,MPRAGE_TI1110_ipat2_moco3,True,5c1a796e9011bd00133688e9,Reward2018,nodra,90683,sub-90683_ses-nodra_T1w.nii.gz,anat,NaN,,T1w,sub-90683/ses-nodra/anat,,,NaN,,False,anat_file
33,MPRAGE_NAVprotocol,True,5c1a796e9011bd00133688ea,Reward2018,nodra,90683,sub-90683_ses-nodra_T1w.nii.gz,anat,NaN,,T1w,sub-90683/ses-nodra/anat,,,NaN,,False,anat_file
36,MPRAGE_NAVprotocol,True,5c1a796e9011bd00153688c4,Reward2018,nodra,90683,sub-90683_ses-nodra_T1w.nii.gz,anat,NaN,,T1w,sub-90683/ses-nodra/anat,,,NaN,,False,anat_file
46,MPRAGE_NAVprotocol,True,5c1a83609011bd0011368f68,Reward2018,nodra,91460,sub-91460_ses-nodra_T1w.nii.gz,anat,NaN,,T1w,sub-91460/ses-nodra/anat,,,NaN,,False,anat_file
48,MPRAGE_TI1110_ipat2_moco3,True,5c1a83609011bd00143694e0,Reward2018,nodra,91460,sub-91460_ses-nodra_T1w.nii.gz,anat,NaN,,T1w,sub-91460/ses-nodra/anat,,,NaN,,False,anat_file

In [5]:
df[df['valid'] != True].head()

,acquisition.label,valid,acquisition.id,project.label,session.label,subject.label,Filename,Folder,IntendedFor,Mod,Modality,Path,Rec,Run,Task,error_message,ignore,template
0,bbl1_restbold_mb6_742,False,5c1a70239011bd001436894e,Reward2018,7944,100088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ep2d_itc1_168,False,5c1a70239011bd001536887c,Reward2018,7944,100088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bbl1_cardB0_178,False,5c1a70239011bd001536887d,Reward2018,7944,100088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b0map_v4,False,5c1a70239011bd00113688a2,Reward2018,7944,100088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bbl1_cardA0_178,False,5c1a70239011bd001436894f,Reward2018,7944,100088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

You can call the python script from the command line; using this method you must supply the query string and the location/name of the output csv you'd like:

`python query_bids_validity.py Reward2018 ~/output.csv`